@font-face {
  font-family: "Bitmap";
  src: url("../assets/fonts/Bitmap.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Upheaval";
  src: url("../assets/fonts/upheavtt.woff2");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}

.floatPhoto {
  display: none;
}

.floatName {
  display: none;
}

a {
  cursor: pointer;
  border-radius: 3px;
  padding: 2px;
  transition: transform 0.1s ease-out;

}

a:hover,
a:focus {
  transform: scale(1.1);
}

body {
  /* Variables */
  --font1: "Bitmap";
  --font2: "Upheaval";
  --border1: 3px solid black;
  --border2: 2px solid black;
  --radius1: 1em;
  --radius2: 0.5em;
  --shadow1: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  ;
  --shadow2: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  /* Styles */
  width: 100vw;
  margin: 0;
}

h1 {
  font-family: "Upheaval";
}

h2 {
  font-size: clamp(1.6em, 2.5vw, 50px);
  font-family: var(--font1);
}

h3 {
  font-size: clamp(20px, 1.5vw, 36px);
  font-family: var(--font1);
}

p {
  font-family: var(--font2);
  font-size: clamp(16px, 1.4vw, 26px);
}

/* MAIN SECTIONS */
.introCard,
.projectSection,
footer {
  margin: 50px 80px;
  padding: 2.2rem;
}

/*
 * ABOUT ME 
 */
.introCard {
  /*Style*/
  height: 32vh;
  border-radius: var(--radius1);
  box-shadow: var(--shadow2);
  /* Layout */
  display: flex;
  gap: 1em;
  overflow: hidden;
}

.introPhoto {
  flex-shrink: 0;
  height: 100%;
  border-radius: var(--radius2);
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow1);
}

.introPhoto img {
  height: 100%;
}

.introPhoto h1 {
  position: absolute;
  margin: 0;
  padding: 8px 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.introDesc {
  max-height: 100%;
  /*Layout*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.introText p {
  margin: 1rem 0;
  line-height: 1.1;
  text-align: justify;
}

.introText,
.introLinks {
  margin: 0 1rem;
}

.introLinks {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.introLinks img {
  width: 35px;
  height: auto;
}

/*
 * PROJECTS
 */
.projectSection {

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projectsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
}

.projectItem {
  width: 25%;
  min-height: 300px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow2);
  border-radius: var(--radius1);
  padding: 30px;
  transition: transform 0.2s ease-in;
}

.projectItem:hover,
.projectItem:focus {
  transform: scale(1.05);
}

.projectScreenshot {
  width: 100%;
  min-height: 220px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projectInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projectHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.projectLinks {
  display: flex;
  gap: 10px;
}

.projectLinks img {
  width: 25px;
}

.projectInfo p {
  height: 100%;
  line-height: 1.1;
}

/**FOOTER**/
footer {
  display: flex;
  padding: 30px 50px;
  align-items: center;
  box-shadow: var(--shadow2);
  border-radius: var(--radius1);
  gap: 40px;
  transition: transform ease-out 0.3s;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.footerItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerItem {
  display: flex;
  gap: 1rem;
}

.footerItem img {
  width: 20px;
}

.footerLinks {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footerLinks img {
  width: 35px;
  height: auto;
}

.footerPhoto {
  width: 35%;
  border-radius: var(--radius1);
  box-shadow: var(--shadow1);
}

/**TABLET MEDIA QUERY**/
@media (max-width: 1250px) {
  .projectHeader {
    flex-wrap: wrap;
  }
}

@media (max-width: 1080px) {

  /*Disable flex photo + name*/
  .introPhoto {
    display: none;
  }

  .introCard {
    height: fit-content;
    overflow: initial;
    width: 75vw;
    margin: 5vh auto;
  }

  .introText {
    display: block;
    position: relative;
  }

  .floatPhoto {
    display: block;
    float: left;
    width: 240px;
    margin: -60px 20px 20px -80px;
    box-shadow: var(--shadow2);
    background-color: white;
  }

  .introText::after {
    content: "";
    display: block;
    clear: both;
    /* makes the parent wrap around the floated image */
  }

  .floatName {
    display: block;
    position: absolute;
    top: -50px;
    right: 58%;
  }

  .projectSection {
    margin: 5vw;
    padding: 20px 0;
  }
}

@media (max-width: 800px) {
  .projectItem {
    min-width: 250px;
  }

  .projectScreenshot {
    min-height: 180px;
  }

  footer {
    flex-direction: column;
  }

  .footerPhoto {
    width: 100%;
  }
}

@media (max-width: 600px) {

  /*REMOVE FLOAT*/
  .floatPhoto,
  .floatName {
    display: none;
  }

  .introPhoto {
    display: block;
    background-color: transparent;
  }

  .introCard {
    flex-direction: column;
  }

  .introCard {
    height: fit-content;
    overflow: hidden;
    width: 80vw;
    margin: 2vh auto;
    padding: 30px;
    gap: 30px;
  }

  .introPhoto h1 {
    font-family: "Bitmap";
    font-size: 40px;
    bottom: 10%;
  }

  .introPhoto img {
    width: 100%;
    height: auto;
  }

  .introDesc {
    text-align: center;
  }

  h2 {
    font-size: 8vw;
  }

  h3 {
    font-size: 5vw;
  }

  p {
    font-size: 4vw;
  }

  .introLinks {
    justify-content: center;
  }

  .projectSection {
    text-align: center;
  }

  .projectHeader {
    justify-content: center;
  }

  .projectItem {
    padding: 20px;
    width: 65vw;
  }

  footer {
    margin: 15px 10px;
    padding: 20px;
  }
}
