@font-face {
  font-family: "Bitmap";
  src: url("../assets/fonts/Bitmap.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Upheaval";
  src: url("../assets/fonts/upheavtt.woff2");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0
}

body {
  /* Variables */
  --font1: "Bitmap";
  --font2: "Upheaval";
  --border1: 3px solid black;
  --border2: 2px solid black;
  --radius1: 1em;
  --radius2: 0.5em;
  --shadow1: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  ;
  --shadow2: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  /* Styles */
  width: 100vw;
  margin: 0;
}

h1 {
  font-family: "Upheaval";
}

h2 {
  font-size: 36px;
  font-family: var(--font1);
}

h3 {
  font-size: 24px;
  font-family: var(--font1);
}

p {
  font-family: var(--font2);
  font-size: 20px;
}

/* MAIN SECTIONS */
.introCard,
.projectSection {
  margin: 50px 80px;
  padding: 2.2rem;
}

/*
 * ABOUT ME 
 */
.introCard {
  /*Style*/
  height: 35vh;
  border-radius: var(--radius1);
  box-shadow: var(--shadow2);
  /* Layout */
  display: flex;
  gap: 1em;
  overflow: hidden;
}

.introPhoto {
  flex-shrink: 0;
  height: 100%;
  max-width: 30%;
  border-radius: var(--radius2);
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow1);
}

.introPhoto img {
  height: 100%;
}

.introPhoto h1 {
  position: absolute;
  margin: 0;
  padding: 8px 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}



.introDesc {
  max-height: 100%;
  /*Layout*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.introText p {
  margin: 1rem 0;
  line-height: 1.1;
  text-align: justify;
}

.introText,
.introLinks {
  margin: 0 1rem;
}

.introLinks {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.introLinks img {
  width: 35px;
  height: auto;
}

/*
 * PROJECTS
 */
.projectSection {

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projectsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
}

.projectItem {
  width: 25%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow2);
  border-radius: var(--radius1);
  padding: 30px;
}

.projectScreenshot {
  width: 100%;
  min-height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projectInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projectHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.projectLinks {
  display: flex;
  gap: 10px;
}

.projectLinks img {
  width: 25px;
}

.projectInfo p {
  height: 100%;
  line-height: 1.1;
}
